<div class="date-container pull-left">
    <h4 class="weekday">Tuesday</h4>
    <h2 class="date">September 2nd</h2>
    <h4 class="year pull-right">2014</h4>
</div>
<span data-toggle="datepicker" data-type="subtract" class="fa fa-angle-left"></span>
<span data-toggle="datepicker" data-type="add" class="fa fa-angle-right"></span>
<div class="input-group input-datepicker">
    <input class="form-control" data-format="YYYY/MM/DD" placeholder="YYYY/MM/DD" type="text">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
    </span>
</div>
<span data-toggle="calendar" class="fa fa-calendar"></span>