<div class="container" data-ng-controller="HeaderController">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="fa-stack">
			  <i class="fa fa-square-o fa-stack-2x"></i>
			  <i class="fa fa-user fa-stack-1x"></i>
			</span>
		</button>
		<a href="/#!/" class="navbar-brand hidden-xs">Expense Manager</a>
		<a href="/#!/" class="navbar-brand brand-collapsed visible-xs">Expense Manager</a>
		<ul class="nav nav-pills pull-right visible-xs" data-ng-show="authentication.user">
			<li ng-class="{active: $uiRoute}" >
				<a ng-href="#!/entries/create" class="menu-collapsed"><i class="fa fa-plus fa-2x"></i></a>
			</li>
			<li>
				<a ng-href="#!/entries" class="menu-collapsed"><i class="fa fa-th-list fa-2x"></i></a>
			</li>
		</ul>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<!-- <span class="arrow-top" ng-class="{hidden: !isCollapsed}"></span> -->
		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Signup</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Signin</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="hidden-xs" ng-class="{active: $uiRoute}" >
				<a ng-href="#!/entries/create" ><i class="fa fa-plus fa-2x"></i></a>
			</li>
			<li class="hidden-xs">
				<a ng-href="#!/entries"><i class="fa fa-th-list fa-2x"></i></a>
			</li>
			<li class="dropdown hidden-xs">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span class="fa-stack">
					  <i class="fa fa-square-o fa-stack-2x"></i>
					  <i class="fa fa-user fa-stack-1x"></i>
					</span>
					<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>
					<li>
						<a href="/#!/settings/accounts">Manage Social Accounts</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
			</li>
			<li class="visible-xs">
				<a href="/#!/settings/profile">Edit Profile</a>
			</li>
			<li class="visible-xs">
				<a href="/#!/settings/accounts">Manage Social Accounts</a>
			</li>
			<li class="visible-xs" data-ng-show="authentication.user.provider === 'local'">
				<a href="/#!/settings/password">Change Password</a>
			</li>
			<li class="divider"></li>
			<li class="visible-xs">
				<a href="/auth/signout">Signout</a>
			</li>
		</ul>
	</nav>
</div>