.content {
	margin-top: 70px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

html, body{
    background-color: #F9F9F9;
}

.core-callout{
    padding: 10px;
    border-left-width:5px;
}

.core-callout h4{
    margin-top:0;
    margin-bottom:5px
}

.core-callout p:last-child{
    margin-bottom:0
}

.core-callout code{
    border-radius:3px
}

.core-callout+.core-callout{
    margin-top:-5px
}

.core-callout-danger{
    border-left-color:#d9534f
}

.core-callout-danger h4{
    color:#d9534f
}

.core-callout-warning{
    border-left-color:#f0ad4e
}

.core-callout-warning h4{
    color:#f0ad4e
}

.core-callout-info{
    border-left-color:#5bc0de
}

.core-callout-info h4{
    color:#5bc0de
}

.core-callout-red{border-left-color:red;}
.core-callout-green{border-left-color:green;}
.core-callout-blue{border-left-color:lightblue;}
.core-callout-purple{border-left-color:purple;}
.core-callout-gray{border-left-color:gray;}

.core-callout-red h4{color:red;}
.core-callout-green h4{color:green;}
.core-callout-blue h4{color:lightblue;}
.core-callout-purple h4{color:purple;}
.core-callout-gray h4{color:gray;}

@media (max-width: 480px){
    .container{
        padding: 5px;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
    .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
    .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
    .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
    .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
    .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
    .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
    .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
    .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
    .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
    .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
    .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .panel{
        margin-bottom: 10px;
        border: none;
    }

    .navbar-brand {
        padding: 12px 15px;
    }
}

.brand-collapsed{
    margin-top: 5.5px;
    margin-bottom: 5.5px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    color: white;
}
.menu-collapsed{
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 5.5px;
    margin-bottom: 5.5px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    color: white;
}

.menu-collapsed:hover,
.menu-collapsed:focus,
.menu-collapsed.active{
    color: white;
    background-color:#006687 !important;
}

.navbar-toggle {
    color: white;
}

.divider{
    height: 1px;
    margin: 9.5px 0px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
}

.arrow-top:after{
    content: "";
    border-bottom: 12px solid rgba(0, 0, 0, 0.2);
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: 52px;
    right: 17px;
    z-index: 9;
}
.arrow-top:before{
    content: "";
    border-bottom: 12px solid #008CBA;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: 54px;
    right: 17px;
    z-index: 10;
}