<section data-ng-controller="EntriesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="entry.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == entry.user._id">
		<a class="btn btn-primary" href="/#!/entries/{{entry._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="fa fa-trash-o"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="entry.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="entry.user.displayName"></span>
		</em>
	</small>
</section>