<div class="panel panel-default">
    <div class="panel-body">
        <h3 class="page-header">Rates</h3>
        <div class="col-md-6 col-sm-6">
            <div class="well well-sm">
                <div class="panel-body">
                    <div class="col-md-4 pull-right rate-value">50%</div>
                    <div class="col-md-8 rate-header">Expenses vs Incomes rate</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="well well-sm">
                <div class="panel-body">
                    <div class="col-md-4 pull-right rate-value">0.123</div>
                    <div class="col-md-8 rate-header">Expenses vs Incomes rate</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="well well-sm">
                <div class="panel-body">
                    <div class="col-md-4 pull-right rate-value">74%</div>
                    <div class="col-md-8 rate-header">Expenses vs Incomes rate</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="well well-sm">
                <div class="panel-body">
                    <div class="col-md-5 pull-right rate-value">530 €</div>
                    <div class="col-md-7 rate-header">Expense average</div>
                </div>
            </div>
        </div>
    </div>
</div>